<html>
<head>

</head>
<body>
<form method="post" action={{route('route.store')}} >
{{ csrfField() }}

<input type="text" name="username">
<input type="email" name="email">
<input type="password" name="password">
<input type="submit" value="submit">

</form>

</body>

</html>